footer{
    background-color: #0B1E3A;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}

.footer-items-container{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.footer-items-container img{
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.footer-items-container a:hover img{
    transform: scale(1.2);
}